<div class="container">

          <div class="card" >
        <div class="card-wrapper">
          <img class="image" src="{{productCard?.image}}" />
          <p class="good-title">
            {{productCard?.name}}
          </p>
          <div class="card-price-buy">
            <div class="good-price">
                {{productCard?.price}}
            </div>
            <div class="button_cont">
              <button class="button-push add-to-cart" onclick="addProduct()">Купить</button>
            </div>
          </div>


        </div>

      </div>


</div>
